$body--dark: #666;
$body--light: #BCBEC0;
$borders: #ddd;

body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  color: $body--dark;;
  font-size: 15px;
  line-height: 22px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

header {
  clear: both;
  overflow: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid $borders;
  .logo {
    margin: 10px;
  }
}

ul, ol, dl {
  li, dt, dd {
    margin: 0;
  }
  dd {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
  }
}

span.label, dt {
  color: $body--light;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

select {
  color: $body--dark;
  clear: both;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 6px;
  font-weight: bold;
}

select, option {
  text-transform: uppercase;
}

option {
  font-size: 11px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

optgroup {
  font-size: 13px;
}

iframe {
  min-height: 780px;
  background-color: transparent;
  border: 2px solid $borders;
}